version: "3.8"

services:
  jenkins:
    build:
      context: .
    container_name: blueocean
    restart: on-failure
    ports:
      - "9999:8080" # Jenkins web UI
      - "50000:50000" # Jenkins agent port
    extra_hosts:
      - "localhost:host-gateway"
    volumes:
      - jenkins-data:/var/jenkins_home
    user: root
    depends_on:
      - docker-dind
    networks:
      - jenkins-network

  # Docker-in-Docker (DinD) - provides a Docker daemon for Jenkins to use
  # This is more reliable than trying to proxy Docker Desktop's socket
  docker-dind:
    image: docker:dind
    container_name: docker-dind
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    volumes:
      - docker-dind-data:/var/lib/docker
    ports:
      - "2375:2375" #  expose Docker API to host
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - jenkins-network
    restart: unless-stopped
    command:
      [
        "dockerd",
        "--host=tcp://0.0.0.0:2375",
        "--host=unix:///var/run/docker.sock",
      ]

volumes:
  jenkins-data:
  docker-dind-data:

networks:
  jenkins-network:
    name: jenkins-network
    driver: bridge
