spring:
  application:
    name: vod-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/voddb
    username: voduser
    password: vodpass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    com.vod: DEBUG
    org.springframework.web: INFO